#about-hero {
    background: linear-gradient(180deg, #eaf6ff 0%, rgba(242, 251, 249, 0) 100%);
    position: relative;
    margin-bottom: 10%;
}
.about-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5%;
    padding-top: 5%;
}
.title-squiggle {
    position: absolute;
    top: -5px;
    right: -15px;
    width: 110%;
    height: auto;
}
h1 span {
    position: relative;
    z-index: 2;
}
.title-vector {
    position: absolute;
    bottom: -10px;
    right: -25px;
    z-index: -1;
}
.about-hero-title-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.about-hero-title-section p {
    font-size: 20px;
    width: 100%;
    line-height: 30px;
    padding: 0 20%;
    text-align: center;
}
.about-hero-title-section h1 {
    text-align: center;
    font-size: 60px;
}
.about-badge-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}
.about-badge-squiggle {
    position: absolute;
    left: 120px;
    top: 10px;
    transform: scaleX(-1);
    rotate: 220deg;
    display: none;
}

.about-btn-wrapper {
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1200px) {
    .about-hero-banner {
        width: 40vw;
        height: auto;
    }
}
@media screen and (max-width: 768px) {
    .about-hero {
        flex-direction: column;
    }
    .about-hero-title-section {
        width: 100%;
        gap: 10px
    }
    .about-hero-title-section p {
        font-size: 14px;
        line-height: 25.8px;
        width: 100%;
        padding: 0 5%;
    }
    .about-hero-banner {
        width: 100%;
        height: auto;
    }
    .about-hero-title-section h1 {
        font-size: 30px;
    }
}
