#team-section {
    width: 100%;
    position: relative;
    padding-top: 10%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 500px; */
    overflow: hidden;
}
#team-section::before {
    content: '';
    position: absolute;
    top: 60px; /* Adjust as needed */
    bottom: -10px; /* Adjust as needed */
    left: -350px; /* Adjust as needed */
    right: -300px; /* Adjust as needed */
    background: linear-gradient(to bottom, rgba(227, 238, 255, 1) 10%, rgba(244,248, 255, 0.21 ) 20%, rgba(255, 255, 255, 0.02) 10%);
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    transform-origin: 0 0;
    z-index: -1;
    height: 1500px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.team-title-section {
    position: relative;
}
.team-title-section svg {
    position: absolute;
    right: -100px;
    top: 30px;
    transform: scaleY(-1);
    rotate: 40deg;
}
.teams-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.team-triangle-vector {
    position: absolute;
    left: 30%;
    top: 30%;
}

@media screen and (max-width: 1250px) {
    .teams-container {
        flex-direction: column;
    }
    .team-info-container {
        padding-top: 5% !important;
    }
}

@media screen and (max-width: 768px) {
    #team-section::before {
        width: 250% !important;
    }
    #team-section {
        padding-top: 20%;
    }
    .teams-container {
        flex-direction: column;
    }
    .team-title-section svg {
        display: none;
    }
    .team-triangle-vector {
        display: none;
    }
}