#team-section {
    width: 100%;
    position: relative;
    /* padding-top: 10%; */
    padding-bottom: 5%;
    overflow-y: hidden;
}
.team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 500px; */
    overflow: hidden;
}
.team-title-section {
    position: relative;
}
.team-title-section h1 {
    text-align: center;
}
.teams-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
    flex-wrap: wrap;
}
.team-triangle-vector {
    position: absolute;
    left: 30%;
    top: 30%;
}

@media screen and (max-width: 1250px) {
    .teams-container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    #team-section::before {
        width: 250% !important;
    }
    #team-section {
        padding-top: 5%;
    }
    .teams-container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .team-triangle-vector {
        display: none;
    }
}