.roadmap-section {
    width: 100%;
    position: relative;
    height: 4000px;
    z-index: 1;
    padding-top: 7%;
}
.roadmap-section::before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: -10px;
    left: -50px; 
    right: -10px; 
    background: linear-gradient(to bottom, rgba(205, 231, 255, 1) 30px, rgba(205, 231, 255, 0));
    transform: rotate(-2deg);
    transform-origin: 0 0;
    z-index: -1;
}
.roadmap-section-title{
    font-family: var(--font-open-sans);
    text-align: center;
}
.title-priority {
    position: relative;
}
.priority-squiggle {
    position: absolute;
    top: -10%;
    left: -5%;
    z-index: -1;
    width: 110%;
    height: auto;
}
.roadmap-squiggle {
    position: absolute;
    bottom: -150px;
    left: 700px;
}
.roadmap-flower {
    position: absolute;;
    left: 20%;
    top: 200px;
}
.roadmap-star-light {
    position: absolute;
    top: 290px;
    left: 52%;
}

@media screen and (max-width: 768px) {
    .roadmap-section-title {
        font-size: 24px !important;
    }
    .priority-squiggle {
        width: 145px;
        height: auto;
        top: 0px;
    }
    .roadmap-triangle-vector {
        display: none;
    }
    .roadmap-section::before {
        transform: rotate(0deg);
    }
}