.community-scroll {
    position: relative;
    background: linear-gradient(180deg, #E7FFFA 0%, rgba(242, 251, 249, 0) 100%);
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    height: 120vh;
}
.community-section-title {
    margin-bottom: 2%;
    font-size: 36px;
}
.community-section {
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-orange {
    color: #f84f39;
}
.community-animation-container {
    background: var(--secondary-500);
    width: 70%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}
.scrollPath {
    position: sticky;
    top: 0;
}

@media screen and (max-width: 1200px) {
    .community-scroll {
        height: 150vh;
    }
    .community-animation-container {
        width: 80vw;
        height: 120vh;
    }
    .community-section-title {
        font-size: 22px;
    }
}

@media screen and (max-width: 768px) {
    .community-animation-container {
        background: var(--secondary-500);
        width: 98vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        overflow: hidden;
        height: 65vh;
    }
    .community-section-title {
        font-size: 22px;
        margin-top: 20%;
    }
    .community-scroll {
        height: 100vh;
    }
}