.hero-section {
    display: flex;
    align-items: center;
    overflow: hidden;
}
.hero-section-title-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.hero-section-subtitle {
    font-family: var(--font-open-sans);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.5px;
}
.subtitle-icon-wrapper {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    overflow: hidden;
    background: linear-gradient(to right, rgba(1, 67, 190, 0.06), rgba(34, 227, 147, 0.06));
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtitle-icon-container {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 100%;
}
.subtitle-icon-wrapper:nth-child(2) {
    margin-left: -5px;
}
.subtitle-icon-wrapper:nth-child(3) {
    margin-left: -6px;
}
.hero-section-subtitle-wrapper {
    display: flex;
    align-items: center;
}
.subtitle-icons {
    display: flex;
}
.hero-section-heading {
    font-family: var(--font-open-sans);
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1px;
}
.hero-section-heading span:nth-child(1) {
    display: inline-flex;
    align-items: center;
}
.title-anywhere {
    font-family: var(--font-architects-daughter);
    color: var(--secondary-500);
    font-weight: 400;
}
.title-free {
    color: var(--primary-500);
}
.title-ownership {
    color: var(--secondary-500);
}
.title-free-ownership {
    position: relative;
}
.title-any {
    color: var(--secondary-500);
}
.title-star {
    position: absolute;
}
.title-star.anywhere {
    top: -60px;
    right: -20px;
}
.title-star.any1 {
    top: 0;
    right: 0;
}
.title-star.any2 {
    top: -55px;
    right: 112px;
}
span.relative {
    position: relative;
}
.title-icon svg {
    width: 60px;
    height: 60px;
}
.title-cart-vector svg {
    width: 60px;
    height: 60px;
}
@media only screen and (max-width: 1300px) {
    .hero-section-heading {
        font-size: 2.5rem;
    }
}
  @media only screen and (max-width: 768px) {
    .hero-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
    }
    .hero-section-subtitle-wrapper {
        justify-content: center;
        flex-direction: column-reverse;
        gap: 10px;
    }
    .hero-section-subtitle {
        font-size: 12px;
        text-align: center;
    }
    .hero-section-title-wrapper {
        width: 100%;
        gap: 30px;
    }
    .hero-section-heading {
        font-size: 32px;
        line-height:50px;
        text-align: center;
    }
    .title-star.any2 {
        display: none;
    }
    .title-icon svg {
        width: 30px;
        height: auto;
        display: none;
    }
    .title-cart-vector svg {
        width: 40px;
        height: auto;
    }
    .subtitle-icon-container img {
        width: 12px;
        height: auto;
    }
    .subtitle-icon-container {
        width: 20px;
        height: 20px;
    }
    .subtitle-icon-wrapper {
        width: 30px;
        height: 30px;
    }
  }