.compare-card {
    background-image: url('/images/about/CardReveal/Receipt.svg');
    width: 380px;
    height: 600px;
    background-repeat: no-repeat;
    background-size:contain;
    padding: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 5px;
}
/* .compare-card.hide {
    animation: largeCard 1s reverse ease;
} */
.dema-large-card {
    background-image: url('/images/about/CardReveal/ReceiptLarge.svg');
    width: 650px;
    height: 650px;
    /* animation: largeCard 1s ease; */
    rotate: 0;
    left: -18% !important;
    top: 10% !important;
}
.operations-image {
    width: auto;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}
.compare-animation {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.compare-logo svg {
    width: 100px;
    height: 60px;
}
.compare-selling-fees {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.dema-large-image {
    width: 200px;
    height: auto;
}
.compare-tick svg{
    width: 40px;
    height: auto;
}
.selling-fees-text {
    font-size: 18px;
    text-align: center;
}
.selling-fees-number {
    font-size: 24px;
    font-family: var(--font-open-sans);
    font-weight: 700;
}
.compare-marketplace-operations {
    width: 100%;
}
.compare-marketplace-operations-head {
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    color: var(--secondary-500);
}
.compare-divider {
    height: 1.5px;
    width: 100%;
    background-color: rgba(237, 237, 237, 1);
    margin-top: 2%;
    margin-bottom: 2%;
}
.compare-marketplace-title {
    font-family: var(--font-open-sans);
    font-size: 12px;
    color: rgba(112, 112, 112, 1);
    font-weight: 600;
}
.compare-marketplace-operations {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.compare-marketplace-operation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.compare-marketplace-percent {
    color: rgba(18, 18, 18, 1);
    font-family: var(--font-open-sans);
    font-weight: 700;
    font-size: 12px;
}
.compare-marketplace-highlight-text {
    font-size: 12px;
    font-weight: 600;
    color: var(--primary-500);
}
.compare-marketplace-highlight {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom:70px;
}
.compare-dotted-divider {
    height: 1px;
    width: 100%;
    border-top: 1px dotted rgba(237, 237, 237, 1);
}
@media screen and (max-width: 1200px) {
    .compare-card {
        width: 180px;
        height: 500px;
        padding: 10% 4%;
        background-size: cover;
        background-position: center;
    }
    .selling-fees-text {
        font-size: 14px;
        text-align: center;
    }
    .compare-tick svg{
        width: 20px;
        height: auto;
    }
    .compare-logo svg {
        width: auto;
        height: 25px;
    }
    .selling-fees-number {
        font-size: 16px;
    }
    .compare-marketplace-operations-head {
        font-size: 10px !important;
    }
    .compare-marketplace-percent {
        color: rgba(18, 18, 18, 1);
        font-family: var(--font-open-sans);
        font-weight: 700;
        font-size: 10px;
    }
    .compare-marketplace-title {
        font-size: 10px;
    }
    .operations-image {
        width: auto;
        height: 100px;
    }
    .compare-marketplace-highlight-text {
        font-size: 10px;
        text-align: center;
    }
    .dema-large-card {
        width: 300px;
    }
}
@media screen and (max-width: 768px) {
    .compare-card {
        width: 180px;
        height: 500px;
        padding: 10% 4%;
        background-size: cover;
        background-position: center;
    }
    .selling-fees-text {
        font-size: 14px;
        text-align: center;
    }
    .compare-tick svg{
        width: 20px;
        height: auto;
    }
    .compare-logo svg {
        width: auto;
        height: 25px;
    }
    .selling-fees-number {
        font-size: 16px;
    }
    .compare-marketplace-percent {
        color: rgba(18, 18, 18, 1);
        font-family: var(--font-open-sans);
        font-weight: 700;
        font-size: 10px;
    }
    .compare-marketplace-title {
        font-size: 10px;
    }
    .operations-image {
        width: auto;
        height: 100px;
    }
    .compare-marketplace-highlight-text {
        font-size: 10px;
        text-align: center;
        font-weight: 500;
    }
    .dema-large-card {
        width: 300px;
    }
}