#blog-details {
    padding: 5% 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
.blog-details-title-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.blog-details-avatar-image {
    border-radius: 100px;
}
.blog-details-title-section p {
    font-size: 1.1vw;
    line-height: 1.9vw;
}
.blog-details-author {
    display: flex;
    gap: 10px;
    align-items: center;
}
.blog-details-author-name {
    font-size: 1.2vw;
}
.blog-details-featured-image {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.blog-details-body {
    line-height: 1.9vw;
    font-size: 1.1vw;
    font-family: var(--font-open-sans);
}
.blog-details-body p {
    margin: 10px 0;
    line-height: 1.9vw;
    font-size: 1.1vw;

}
.blog-details-body ol {
    margin-left: 20px;
}
.blog-details-body ul {
    margin-left: 20px;
}
.blog-details-body h2 {
    margin-top: 5%;
    margin-bottom: 5%;
}
.blog-card-tag {
    font-size: 14px;
    font-family: var(--font-open-sans);
    background-color: rgba(56, 48, 201, 1);
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    /* margin: 10px; */
    border-radius: 20px;
    border: 1px solid rgba(1, 67, 190, 0.1);
    color: white;
}
.blog-card-tags-wrapper {
    display: flex;
    gap: 10px;
}
.blog-details-author-date {
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    #blog-details {
        padding: 5% 5%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .blog-details-title-section p {
        font-size: 14px;
        line-height: 22px;
    }
    .blog-details-author-name {
        font-size: 14px;
    }
    .blog-details-author-image {
        width: 32px;
        height: 32px;
    }
    .blog-details-body p{
        font-size: 14px;
        line-height: 22px;
    }
    .blog-details-body img {
        width: 100%;
    }
    .blog-details-random-svgs {
        display: none;
    }
    .blog-card-tag {
        font-size: 12px;
    }
    .blog-details-author-date {
        font-size: 12px;
    }
}