#about-cards-reveal {
    width: 100%;
    position: relative;
}
.about-cards-reveal {
    display: flex;
    scroll-snap-type: y mandatory;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.reveal-card {
    width: 95vw;
    height: 100vh;
    position: relative;
    border-radius: 30px;
    display: flex;
    overflow: hidden;
    z-index: 0; /* Set a default z-index for all cards */
}
.card1 {
    background: linear-gradient(180deg, #E7FFFA 0%, rgba(242, 251, 249, 0) 100%);
    overflow: hidden;
}
.card2 {
    background: linear-gradient(180deg, #F2F0D5 0%, rgba(239, 247, 255, 1) 100%);
    position: sticky;
    top: 0px;
    overflow: hidden;

}
.card3 {
    background: linear-gradient(180deg, rgba(222, 226, 250, 1) 0%, rgba(239, 247, 255, 1) 100%);
    position: sticky;
    top: 0px;
    overflow: hidden;

}
.card4 {
    background: linear-gradient(180deg, rgba(250, 204, 201, 1) 0%, rgba(239, 247, 255, 1) 100%);
    position: sticky;
    top: 0px;
    overflow: hidden;

}
.card1-left, .card2-left, .card3-left {
    width: 50%;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
}
.card1-left p, .card2-left p, .card3-left p {
    font-size: 14px;
}
.card1-left h1 {
    text-align: center;
}
.card2-left h1 {
    text-align: center;
}
.card3-left h1 {
    text-align: center;
}
.card1-right, .card2-right, .card3-right, .card4-right {
    width: 50%;
    padding: 2%;
    /* background: var(--primary-500); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.card2-right {
    background: #EFEC9B;
}
.card3-right {
    background: var(--secondary-500);
}
.card4-right {
    background: rgba(238, 81, 71, 1);
}
.text-decentralize {
    color: rgba(166, 160, 0, 1);
}
@media screen and (max-width: 1200px) {
    
}
@media screen and (max-width: 768px) {
    .card1 {
        flex-direction: column-reverse;
    }
    .card1 svg {
        width: 80%;
    }
    .card1-left, .card2-left, .card3-left {
        width: 100%;
    }
    .card1-right, .card2-right, .card3-right {
        width: 100%;
    }
    .card2 {
        flex-direction: column-reverse;
    }
    .card3 {
        flex-direction: column-reverse;
    }
    .reveal-card {
        height: auto;
        border-radius: 10px;
    }
    .about-cards-reveal {
        gap: 20px;
        /* border-radius: 0; */
    }
    .card1-left p {
        text-align: left;
    }
    .card1-left, .card2-left, .card3-left {
        padding: 5% 5%;
    }
    .card1-right, .card2-right, .card3-right {
        padding: 5% 5%;
    }
}