.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    z-index: 1;
    background-color: rgba(56, 48, 201, 1);
    padding: 2%;
    border-radius: 10px;
    height: 250px;
}
/* .team-profile {
    background-color: var(--primary-500);
    display: flex;
    align-items: flex-end;
    border-radius: 60px;
    overflow: hidden;
    width: 120px;
    height: 120px;
    z-index: 1;
    justify-content: center;
} */
.team-info-name {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: white;
}
.team-info-position {
    color: rgba(13, 13, 13, 0.8);
    text-align: center;
    font-size: 14px;
    color: white;
}
.team-info-container {
    width: 230px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
}

@media screen and (max-width: 768px) {
    .team-card {
        margin-top: -20px;
    }
    .team-info-container {
        width: 278px;
        height: 182px;
        gap: 10px;
        padding-top: 15% !important;
    }
    .team-info-container svg {
        width: 32px;
        height: auto;
    }
    .team-info-name {
        font-size: 14px;
    }
    .team-info-position {
        font-size: 12px;
    }
    .team-profile {
        width: 80px;
        height: 80px;
        top: 50px;
    }
    .team-profile img {
        width: 70px;
        height: 70px;
    }
    
}