.recent-blogs-card {
    width: 30%;
    padding: 25px 15px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    gap: 10px;
    border: 2px solid rgba(0, 136, 255, 0.15);
    box-shadow: 0px 17px 15px -13px rgba(0, 136, 255, 0.1);
}
.recent-blogs-card h4 {
    text-align: left;
    display: block;
    width: 100%;
    font-weight: 600;
}
.recent-blogs-card-image {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.recent-blogs-card p {
    font-size: 14px;
}
@media screen and (max-width: 768px) {
    .recent-blogs-card {
        width: 100%;
    }
    .recent-blogs-card h4 {
        font-size: 18px;
    }
    .recent-blogs-card-image {
        height: 145px;
        object-fit: cover;
    }
}