.wall-of-love {
    width: 100%;
    position: relative;
    padding-top: 10%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 1300px; */
}
.wall-of-love::before {
    content: '';
    position: absolute;
    top: 60px; /* Adjust as needed */
    bottom: -10px; /* Adjust as needed */
    left: -350px; /* Adjust as needed */
    right: -300px; /* Adjust as needed */
    background: linear-gradient(to bottom, rgba(227, 225, 255, 1) 0%, rgba(155,150, 255, 0.3 ) 59%, rgba(155, 150, 255, 0) 100%);
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    transform-origin: 0 0;
    z-index: -1;
}
.wall-of-love .section-subtitle {
    font-weight: 600;
}
.wall-title-squiggle {
    position: absolute;
    top: -20px;
    left: -10px;
    z-index: -1;
    width: 110%;
    height: auto;
}
.title-shop-save-own {
    position: relative;
    z-index: 1;
}
.testimonials-wrapper {
    position: relative;
}
.wall-ellipse {
    position: absolute;
    top: -80px;
    z-index: -1;
    left: 30%;
}
.wall-ellipse-heart {
    position: absolute;
    top: 27px;
    left: 53%;
    animation: shake 5s ease-in-out infinite;
}

.wall-heart-1 {
    position: absolute;
    right: 300px;
    top: -5px;
    animation: shake 5s ease-in-out infinite;

}
.wall-heart-2 {
    position: absolute;
    left: -30px;
    top: 300px;
    z-index: -1;
    opacity: 0.7;
    animation: shake 5s ease-in-out infinite;

}
.wall-heart-3 {
    position: absolute;
    bottom: -10px;
    left: 400px;
    rotate:-40deg;
    opacity: 0.5;
    z-index: 1;
    animation: shake 10s ease infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(20deg); }
    50% { transform: translate(-1px, 2px) rotate(-20deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-20deg); }
    80% { transform: translate(-1px, -1px) rotate(20deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-20deg); }
  }
@media screen and (max-width: 768px) {
    #wall-of-love {
        overflow: hidden;
    }
    .section-title h2 {
        font-size: 24px;
    }
    .wall-title-squiggle {
        width: 250px;
        height: auto;
        top: -5px
    }
    .wall-of-love {
        padding-top: 25%;
    }
    .wall-ellipse-heart {
        position: absolute;
        top: -20px;
        left: 63%;
        animation: shake 5s ease-in-out infinite;
    }
    
    .wall-heart-1 {
        position: absolute;
        right: 300px;
        top:48%;

    }
    .wall-heart-2 {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
        opacity: 0.7;
        animation: shake 5s ease-in-out infinite;
    
    }
    .wall-heart-3 {
        position: absolute;
        bottom: 100px;
        left: 50%;
        rotate:-40deg;
        opacity: 0.5;
        z-index: 1;
        animation: shake 10s ease infinite;
    }
}