.testimonial-section {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 5%;
    overflow: hidden;
    justify-content: center;
    position: relative;
    width: 100%;
}
.testimonial-left, .testimonial-center, .testimonial-right {
    display: flex;
    gap: 80px;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.testimonial-marquee-wrapper {
    position: relative;
}
.testimonials-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.testimonial-md {
    border: 1px solid #F5F5F5;
    height: 450px;
    gap: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    margin: 0 5%;
}
.testimonial-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.testimonial-profile {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: var(--font-open-sans);
}
.testimonial-profile img {
    border-radius: 100px;
}
.testimonial-name {
    color: rgba(13,13,13,1);    
    font-family: var(--font-open-sans);
    font-size: 14px;
    font-weight: 600;
} 
.testimonial-userid {
    font-size: 12px;
    color: rgba(13,13,13,0.7);    
}
.testimonial-video video {
    border-radius: 20px;
}
.testimonial-insights {
    display: flex;
    gap: 20px;
    color: rgba(13,13,13,0.6);    
    font-family: var(--font-open-sans);
}
.testimonial-like-container {
    display: flex;
    gap: 5px;
    align-items: center;
}
.testimonial-like {
    font-size: 12px;
}
.testimonial-like-vector {
    width: 15px;
    height: auto;
}
.testimonial-content {
    color: rgba(13,13,13,0.9);    
    font-family: var(--font-open-sans);
    font-weight: 400;
    font-size: 14px;
    line-height: 20.8px;
}
.testimonial-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.testimonial-sub-row {
    display: flex;
    justify-content: space-between;
}
.testimonial-md-container {
    height: 410px;
    width: 339px;
}
.testimonial-sm-container {
    width: 339px;
    height: 211px;
}
.testimonial-lg-container{
    width: 538.24px;
    height: 273px;
}
.testimonial-xs-container {
    width: 256px;
    height: 211px;
}
.testimonial-date {
    font-size: 12px;
}
ul li .content {
    transition: transform 0.3s linear;
    transition-delay: 0.5s;
  }
  
  ul li:not(.slick-current) .content {
    transform: scale(0.9);
    transition-delay: 0s;
  }
@keyframes mediumTestimonialAnimation {
    0% {
      opacity: 0; /* Adjust initial translation as needed */
    }
    100% {
      opacity: 1; /* Adjust final translation as needed */
    }
  }
  
  /* Apply animation to medium testimonial */
  .testimonial-md {
    animation: mediumTestimonialAnimation 2s ease-in-out; /* Adjust duration and easing as needed */
  }
  .testimonial-lg {
    animation: mediumTestimonialAnimation 1s ease-in-out; /* Adjust duration and easing as needed */
  }
  .testimonial-sm {
    animation: mediumTestimonialAnimation 1s ease-in-out; /* Adjust duration and easing as needed */
  }
  .testimonial-xs {
    animation: mediumTestimonialAnimation 2s ease-in-out; /* Adjust duration and easing as needed */
  }
@keyframes tweetAnim {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@media screen and (max-width: 768px) {
    .testimonial-sm {
        width: 400px;
    }
    .testimonial-md {
        width: 300px;
        height: 350px;
        gap: 10px;
    }
    .testimonial-lg {
        width: 400px;
        height: auto
    }
    .testimonial-content {
        font-size: 10px !important;
    }
    .testimonial-name {
        font-size: 12px;
    }
    .testimonial-userid {
        font-size: 10px   
    }
    .testimonial-row {
        align-items: center;
    }
    .testimonial-xs {
        width: 190px;
    }
    .testimonial-sub-row {
        gap: 10px;
    }
    .testimonial-section {
        flex-direction: column;
    }
    .testimonial-row:nth-child(2) {
        order: 1;
    }
    .testimonial-row:nth-child(1) {
        order: 3;
    }
    .testimonial-row:nth-child(3) {
        order: 2;
    }
    .testimonial-md-container {
        width: 350px;
    }
    .testimonial-sm-container {
        width: 400px;
        height: auto;
    }
    .testimonial-lg-container{
        width: 400px;
        height: auto;
    }
    .testimonial-xs-container {
        width: 190px;
    }
    .testimonial-container {
        height: 800px;
    }
    .testimonial-like {
        font-size: 10px;
    }
    .testimonial-like-vector {
        width: 15px;
        height: 15px;
    }
    .testimonial-date {
        font-size: 10px;
    }
    .testimonial-profile img {
        width: 40px;
        height: 40px;
    }
}