.ultimate-experience {
    width: 100vw;
    height: 80vh;
    margin-right: auto;
    margin-left: auto;
    background-color: #FEF7EB;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}
.splitContainer {
    --box-width: 1140px
}
.top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw; /* Adjust as needed */
    height: 80vh;
    background-color: #FEF7EB;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0%;
    right: 0%;
}

.bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw; /* Adjust as needed */
    height: 80vh; /* Adjust as needed */
    background-color: rgba(56, 48, 201, 1);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 0;
}

.top-child {
    width: 100vw;
    height: 80vh;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
.experience-text-amazon {
    margin-left: 4vw;
}
.dragger {
    position: absolute;
    left: 50%; /* Adjust initial position */
    top: 0;
    width: 2px; /* Adjust as needed */
    height: 100%;
    cursor: pointer; /* Add cursor style */
    background-color: #ccc; /* Add color for visibility */
    z-index: 3;
    display: none;
}

.bottom-child h2 {
    color: white;
}
.bottom-child .card {
    background-color: white;
}
.bottom-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
.bullet-points {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}
.point {
    display: flex;
    align-items: center;
    gap: 5px;
}
.card-title {
    font-family: var(--font-open-sans);
    font-size: 1.5vw;
}
.point-text {
    font-family: var(--font-open-sans);
    font-size: 1vw;
}
.cards-container-amazon, .cards-container-dema {
    display: flex;
    margin-top: 2%;
    gap: 32px;
    overflow: hidden;
    width: 100vw;
}
.card {
    flex: 0 0 auto; 
    width: 15vw;
    height: 17vw;
    background-color: rgba(243, 167, 54, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    border-radius: 12px;
    position: relative;
    flex: 0 0 auto;
    margin-right: 20px; /* Adjust card spacing as needed */
}
.splitContainer {
    width: 1140px;
    height: 100%;
}
.headPos {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    display: grid;
    place-items: center;
}
.grid {
    display: grid;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.gray {
    background: gray;
}

.flex {
    display: flex;
}

.wide-66 {
    width: 66%;
}

.wide-33 {
    width: 33%;
}

.wide {
    width: 100%;
}

.center {
    place-items: center;
    justify-content: center;
    align-items: center;
}
.box-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.card-header-image svg {
    width: 4vw;
    height: 4vw;
}

@media screen and (max-width: 768px) {
    .cards-container-amazon, .cards-container-dema {
        width: 100vw;
    }
    .top {
        width: 100vw; /* Adjust as needed */
        height: 100%;
        background-color: #eae3d7;
        z-index: 1;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0%;
        right: 0%;
    }
    .card-header-image svg {
        width: 32px;
        height: 32px;
    }
    .bottom {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100vw; /* Adjust as needed */
        height: 100%; /* Adjust as needed */
        background-color: rgba(56, 48, 201, 1);
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        z-index: 0;
    }
    
    .top-child {
        width: 100vw;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .dragger {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible;
    }
    .dragger svg {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        position: absolute;
        z-index: 3;
    }
    .ultimate-experience {
        width: 100vw;
        height: 300px;
    }
    .card-title {
        font-size: 14px;
    }
    .point-text {
        font-size: 10px;
    }
    .card {
        width: 145px;
        height: 145px;
        padding: 10px;
    }
    .card img {
        width: 25px;
        height: auto;
    }
    .point .card-image {
        width: 7px;
        height: auto;
    }
    .amazon-cart-vector svg {
        width: 30px;
        height: 30px;
    }
    .dema-cart-vector svg {
        width: 30px;
        height: 30px;
    }
    .bullet-points {
        gap: 0px;
    }
}