.community-section {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.community-desc-section {
    width: 50%;
}
.community-desc-section p {
    line-height: 1.5vw;
    margin-top: 2%;
}
.community-image-section {
    background: linear-gradient(rgba(56, 48, 201, 0.1),rgba(34, 227, 147, 0.1));
    border-radius: 20px;
}
.community-image-section img {
    width: 25vw;
    height: auto;
    object-fit: cover;
}
.community-image-section svg {
    width: 3.75vw;
    height: auto;
    left: -3.225vw;
}
.community-button-wrapper {
    margin-top: 5%;
}
.community-image-section {
    position: relative;
}
.community-image-section svg {
    position: absolute;
    transform: scaleX(-1);
    bottom: 0px;
}
.real-community-text-squiggle {
    width: 100%;
    height: auto;
    top: 3vw;
}

@media screen and (max-width: 1250px) {
    .community-desc-section h2 {
        font-size: 30px;
    }
    .community-image-section {
        width: 30%;
        aspect-ratio: 1/1;
    }
    .community-image-section img {
        width: 100%;
        height: auto;
    }
}
.real-community-text-squiggle {
    position: absolute;
    bottom: -10px;
    left: 0;
}
.title-blue {
    position: relative;
}
@media screen and (max-width: 768px) {
    .community-section {
        flex-direction: column;
        gap: 50px;
    }
    .community-desc-section {
        width: 100%;
    }
    .community-desc-section h2 {
        font-size: 26px;
    }
    .community-image-section {
        width: 90% !important;
    }
    .community-image-section svg {
        display: none;
    }
    .community-image-section img {
        width: 90%;
    }
}