.learn-faq-card {
    width: 32%;
    border-radius: 10px;
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    background: linear-gradient(rgba(239, 247, 255, 1),rgba(239, 247, 255, 0) 30%);
    margin-top: 1%;
}
.learn-faq-card-title {
    font-size: 1.375vw;
}
.learn-faq-card-image-container {
    display: flex;
    justify-content: center;
    position: relative;
}
.learn-faq-card-svg {
    position: absolute;
}
.learn-faq-card-image-container .learn-faq-card-image {
    width: 9.375vw;
    height: auto;
}
@media screen and (max-width: 768px) {
    .learn-faq-card-button-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .learn-faq-card {
        padding: 6%;
    }
    .learn-faq-card .button-primary {
        font-size: 12px !important;
    }
    .learn-faq-card-image {
        width: 40% !important;
        height: auto !important;
    }
}