#shocker-section {
    background: linear-gradient(rgba(239, 247, 255, 1),rgba(255, 255, 255, 1));
}
.shocker-section {
    background: linear-gradient(rgba(239, 247, 255, 1),rgba(255, 255, 255, 1));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: relative;
    padding: 5% 5%;
}
.shocker-triangle-vector {
    position: absolute;
    left: 10%;
    top: 15%;
}
.shocker-title-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.shocker-title-section h2 {
    text-align: center;
}
.shocker-title-section p {
    font-size: 1.3vw;
    font-weight: 600;
    text-align: center;
}
.shocker-graph-desktop {
    width: 100%;
}
.shocker-graph-desktop text {
    font-family: var(--font-open-sans);
}
.shocker-graph-desktop img {
    user-select: none;
}
.shocker-title-section span {
    position: relative;
}
.shocker-title-vector {
    position: absolute;
    left: -40px;
    top: -40px;
}
.shocker-flower-vector {
    position: absolute;
    right: 10%;
    top: 20%;
}
.shocker-graph-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .shocker-title-section .title-blue {
        display: block;
    }
    .shocker-title-vector {
        position: absolute;
        left: 25%;
        top: -40px;
        width: 50px;
    }
    .shocker-title-section p {
        font-size: 14px;
    }
    .shocker-graph-mobile {
        display: block;
    }
    .shocker-triangle-vector {
        width: 40px;
        left: 20px;
        top: 10px;
    }
    .shocker-flower-vector {
        right: 20px;
        top: 150px;
        width: 50px;
    }
}

/* Animations */
               /*control for the animation */
               #viewbox{
                --duration:2s;
                --wait:calc(var(--duration) * 0.9);
                --rounded-corners:80;
            }

            text {
                font-family:Open Sans; 
                font-size:128px; 
                font-weight: 700; 
            }
            [mark]{
                outline:40px solid brown
            }

            g.group {
                --child-opacity:1;
            }
            g.group .rect{
                opacity: var(--child-opacity);
                transition: 450ms;
                transition-timing-function: ease-out;
                
                
            }
            g.group:hover .rect{
                opacity: 1;
                transition-delay: 0ms;
                

                transition-timing-function: ease-in;
            }

      

            g.group .info-text {
                opacity:0.01;
                transition: opacity 1500ms;
               
            }

            g.group:hover .info-text{
                opacity: 1;
                transition: opacity 1500ms;
                
            }

  
            [fade] {
                animation: fade-in var(--duration) ease-out both;
                animation-delay: calc(var(--k)* var(--wait));
            }
            g.group rect {
           
                rx:var(--rounded-corners);

            }

          

            @keyframes fade-in {
                from {
                    opacity: 0;
                }

                50%,70% {
                    opacity: 1;
                }

             to{
                --child-opacity:.5;}

            }

            
            .dema-group rect{
                   
                  
                animation: fade-in var(--duration) both calc(var(--k) * var(--wait)),move 500ms both calc((var(--l)) * var(--wait));
                transition: 500ms;
                rx:var(--rounded-corners);
            }


            .dema-group {
                animation: fade-out var(--duration) both calc(var(--l) *var(--wait));
                
                opacity:0;
            }

            @keyframes fade-out {
                from {
                    opacity: 1;
                }

                50%,100% {
                    opacity: 0;
                }

            
             
            }

            .dema-group2 {
                animation: fade-in var(--duration) both calc( var(--k) *var(--wait));
          
            }

           

            .dema-group2 .test {
                fill:#3830C9;
                

            }


          

            @keyframes move {
                from{y:var(--y)}
                to{
                  
                }
            }
      
            .dema-group2 rect {
                transition:y 500ms;
                rx:var(--rounded-corners)
            }

            g.group:hover ~.dema-group2 rect,
            .dema-group2:hover rect {
                y:var(--y);
        
                opacity: 1;
                
                
                
          
            }
            [drop] {
                transition: opacity 500ms;


            }


            g.group:hover ~.dema-group2 [drop], 
            .dema-group2:hover [drop] {
                opacity:0
            }
         